<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.astra.ses.spell.gui.toolbars.clock">
            <control
                  class="com.astra.ses.spell.gui.clock.ClockControlContribution"
                  id="com.astra.ses.spell.gui.clock.ClockControlContribution">
            </control>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
